@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --spacing: 4px;
  --font-default: "Inter", sans-serif;
  --color-orangeAccent: #f05d23;
  --color-oceanDeep: #0f172a;
  --color-beige: #f7f7f2;
}

@custom-variant dark (&:where(.dark, .dark *));
