$white: #fcfcfc;
$beige: #f7f7f2;
$oceanDeep: #0f172a;
$black: #202020;
$slate400: #90a1b9;
$slate500: #62748e;
// $lightTeal:
$teal: #46ecd5;
$orangeAccent: #f05d23;

// $accent:
// $accent:
//$textSlate:
//$textDarkSlate:
//$royalBlueBg
//$radialBlue:
