@import "./core/allCore";
@import "./buttons/allButtons";
@import "./typography/allTypography";
@import "./pages/allPages";
@import "./components/allComponents";

html {
  display: flex;
  justify-content: center;
}
body {
  margin: unset;
  min-height: 100vh;
  background-color: #f7f7f2;
}
.dark body {
  background-color: rgb(15 23 42);
}

button {
  border: unset;
  width: fit-content;
  cursor: pointer;
}
