@use "./core/colors";
@use "./buttons/allButtons";
@use "./typography/allTypography";
@use "./pages/allPages";
@use "./components/allComponents";

html {
  display: flex;
  justify-content: center;
}
body {
  margin: unset;
  min-height: 100vh;
  background-color: colors.$beige;
}
.dark body {
  background-color: colors.$oceanDeep;
}

button {
  border: unset;
  cursor: pointer;
}
